.container_form{
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-rows: minmax(50px,auto);
    grid-template-areas:"h h h h h h h h"
                        "n n n n n n n n"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "f f f f f f f f";
}

@media screen and (min-width:700px)
{
    .container_form{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "f f f f f f f f";
    }
}

@media screen and (min-width: 1024px)
{
    .container_form{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "f f f f f f f f";
    }
}


[class*="form_"]{
    margin: auto;
    min-width: 200px;
    width: 300px;
    padding: 20px 10px;
    text-align: center;
    display: block;
}

[class*="form_"] h2{
    font-weight: 600;
}

#submit_btn{
    background: #212121;
    background-color: #212121;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #EF5350;
    color: #EF5350;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
    transition: color .5s ease .1s;
    transition: border-color .5s ease .1s;
    transition: background-color .8s ease .1s;
}

#submit_btn:hover{
    color: #212121;
    background-color: #EF5350;
    border-color: #212121;
    transition: color .8s  ease .1s background-color .5s ease .1s border-color .5s ease .1s;
}