body{
    margin: 0px;
    padding: 0px;
    color: #EAECEE ;
    background-color: #424242  ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    text-align: center;
}
header{
    grid-area: h;
    margin: 0px;
    padding: 10px;
    font-size: 2em;
    font-weight: 600;
}

main{
    grid-area: m;
    margin: 0px;
    padding: 10px;
    float: left;
    text-align: center;
    background-color: #616161;
}

section{
    grid-area: s;
}

nav{
    grid-area: n;
}

aside{
    grid-area: a;
    padding: 0.20em;
    background-color: #212121;
    border: 2px solid #616161;
}

footer{
    grid-area: f;
    margin: 0px;
    padding: 25px;
    background-color: #212121;
    font-size: .6em;
}

.nav-top
{
    overflow: hidden;
    margin: 0px;
    padding: 25px 25px;
    background-color: #212121 ;
}

.nav-top a::before{
    float: center;
    display: block;
    text-align: center;
    color: #EF5350;
    margin: 0px auto;
    padding: 20px 20px;
    text-decoration: none;
}

.nav-top a{
    clear:both;
    float: center;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1.20em;
    color: #EF5350;
    margin: 0px auto;
    padding: 20px 20px;
    text-decoration: none;
}

.nav-top a:hover{
    background-color: #424242;
    transition: .8s
}

.nav-top a.active{
    background-color:#EF5350;
    color:#212121;
}

.main{
    padding: 10px;
}

.main h2{
    font-size: 2em;
    font-weight: 600;
}


.article
{
    text-align: left;
    padding: 10px;
    font-size: 0.9em;
}


.section{
    padding: 10px;
}

.section h3{
    font-weight: 600;    
}

.section h4{
    font-weight: 600;
}

#image_logo{
    width: 15%;
    height: 15%;
}

#images{
    width: 20%;
    height: 20%;
}




.container{
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-rows: minmax(50px,auto);
    grid-template-areas:"h h h h h h h h"
                        "n n n n n n n n"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "s s s s s s s s"
                        "a a a a a a a a"
                        "f f f f f f f f";
}

@media screen and (min-width:769px)
{
    .nav-top a{
        display: inline;
    }
    .container{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "s s s s s s s s"
                            "s s s s s s s s"
                            "f f f f f f f f";
    }
}

@media screen and (min-width: 1024px)
{
    #image_logo{
        width: 63px;
        height: 85px;
    }
    #images{
        width: 200px;
        height: 201px;
    }
    .nav-top a{
        display: inline;
    }
    .container{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "s s s s s s s s"
                            "s s s s s s s s"
                            "f f f f f f f f";
    }
}
