.form_login input[type="text"], .form_login input[type="password"]{
    background: #616161;
    display: block;
    margin: 15px auto;
    text-align: center;
    padding: 20px 10px;
    border: 2px solid #E57373;
    color: #CCD1D1;
    font-size: 1rem;
    width: 150px;
    outline: none;
    transition: background .5s ease .2s;
    transition: border 1s ease .2s;
    transition: width .5s ease .2s;
}

.form_login input[type="text"]::placeholder, .form_login input[type="password"]::placeholder{
    color: #CCD1D1;
    font-size: 1rem;
}

.form_login input[type="text"]:focus, .form_login input[type="password"]:focus{
    width: 250px;
    background: #424242;
    border-color: #EF5350;
    transition: all .5s ease .1s;
}

.container-login{
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-rows: minmax(50px,auto);
    grid-template-areas:"h h h h h h h h"
                        "n n n n n n n n"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "f f f f f f f f";
}

@media screen and (min-width:700px)
{
    .container-login{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "f f f f f f f f";
    }
}

@media screen and (min-width: 1024px)
{
    .container-login{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "f f f f f f f f";
    }
}