.textfield, #user_date, #user_photo{
    margin-top: 10px;
    width: 205px;
    height: 25px;
    display: inline;
    color: black;
    outline: none;
}

.radio_label{
    float: left;
    padding-left: 60px;
}

.radio_box{
    display: block;
    text-align: center;
    margin: 10px 0px;
    cursor: pointer;
}