.textfield, #user_date, #user_photo{
    margin-top: 10px;
    width: 205px;
    height: 25px;
    display: inline;
    color: #CCD1D1;
    outline: none;
}

.radio_label{
    float: left;
    padding-left: 60px;
}

.radio_box{
    display: block;
    text-align: center;
    margin: 10px 0px;
    cursor: pointer;
}

.container-sign_up{
    max-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-rows: minmax(50px,auto);
    grid-template-areas:"h h h h h h h h"
                        "n n n n n n n n"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "f f f f f f f f";
}

@media screen and (min-width:700px)
{
    .container-sign_up{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "f f f f f f f f";
    }
}

@media screen and (min-width: 1024px)
{
    .container-sign_up{
        grid-template-areas:"h h h h h h h h"
                            "n n n n n n n n"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "m m m m m m m m"
                            "f f f f f f f f";
    }
}